/*---------------------------- ベースカラー ---------------------------- */

$primary_color: #0a4682;
$secondary_color: #b60005;

/*---------------------------- ベースリンクカラー ---------------------- */


.information {
    h3 {
        font-weight: 700;
        font-family: 'Source Serif Pro', "Hiragino Sans W3", serif;
        letter-spacing: -2px;
        font-size: 18px;
        color: $secondary_color;
        border-bottom: 3px solid $secondary_color;
    }

    .h3en {
        letter-spacing: 0.05em;
    }

    .info_area {
        background-color: #fff;
        min-height: 60;
        max-height: 130px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 15px;

        ul {
            li {
                font-size: 15px;
                font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
                position: relative;
                text-indent: 1em;
                vertical-align: middle;
                border-bottom: 1px solid #eee;
                padding: 4px 0;
                margin: 0 0 4px 0;

                span {
                    font-weight: bold;
                }

                a {
                    color: #0a4682;
                    text-decoration: underline;
                }

                &:before {
                    text-indent: -0.2em;
                    position: absolute;
                    content: "◆";
                    top: 4px;
                    left: 0;
                    font-size: 12px;
                    color: $secondary_color;
                    width: 10px;
                    height: 10px;

                }
            }
        }
    }
}